body{
  font-family: sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin-left: 5%;
  margin-right: 5%;

}
.form-button{
  height: 35px;
  border: 1px solid teal;
  cursor: pointer;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid teal;
  padding-left: 10px;
  color: teal;
}

.comom-form{
  text-align: center;
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 300px;
}
.error-p{
  color: red;
}

.message-p{
  color: green;
  text-align: center;
}
.carousel-caption{
  background-color: #0000007d;
}
.carousel-control-next-icon,
.carousel-control-prev-icon{
  background-color: black;
  border-radius: 5px;
}

.invalid-input{
  font-size: 12px;
  margin-top: -20px;
}

 button:disabled{
  cursor: not-allowed;
}

.max-with{
  width: 100%;
}
